.home {
    height: 100vh;
    background-image: url('../assets/bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5%;
}

.container {
    background: rgb(255, 255, 255);
    width: 40%;
    margin: auto;
    border-radius: 1em;
    padding-top: 1em;

}

.head {
    background: rgb(0, 123, 255);
    color: white;
    margin: auto;
    border-radius: 1em;
    width: 60%;
    padding: 0.5em 1em;
    font-size: 1.5em;
}

.body {
    margin: auto;
    margin-top: 1em;
    width: 95%;
    border-radius: 1em;
}